.card {
  display: flex;
  justify-content: center;
  align-items: center;

  footer {
    display: flex;
    justify-content: flex-end;
    gap: 16px;

    button {
      border: 0;
      outline: none;
      background-color: tomato;
      color: white;
      padding: 5px 15px;
      border-radius: 5px;
    }
  }
}
